
.wrapper{
  padding: 0px 40px;
}

.page-title{
  color: black;
  font-size: 25px;
  padding-top: 30px;
}



.members{
  width: 30%;
  height: 50%;
}

.members:hover{
  opacity: 0.6;
  transition-duration: 0.9s;
}


