.footer{
  display:flex;
  justify-content: space-between;
  bottom:20px;
  position:absolute;
  left:0;
  right:0;
  z-index: 1;
}

.footer__nav{
  display:flex;
  list-style: none;
}

.footer__nav a{
  color:black;
  z-index: 10;
  font-weight: lighter;
}

.footer__nav a :hover{
  color:gray;
}

.footer__nav li{
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .footer{
    display:block;
  }
}
